<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @booking_group.name %>
</p>


<%= link_to 'Edit', edit_admin_booking_group_path(@booking_group) %> |
<%= link_to 'Back', admin_booking_groups_path %>
